POSTGRES_HOST=blocktalk_db
POSTGRES_PORT=5432
POSTGRES_NAME=blocktalk
POSTGRES_USER=blocktalk
POSTGRES_PASSWORD=blocktalk
JWT_SECRET=your-secret-key
TOM_TOM_BASE_URL=https://api.tomtom.com
TOM_TOM_API_KEY=your-tomtom-api-key
CITIES_FILE=/app/static/cities.json
