@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
  ol, ul, menu {
    list-style: revert;
  }

  html, body {
    height: 100vh;
    height: 100dvh;
    margin: 0;
    overflow: hidden;
  }
}

